@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap") layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-inter: Inter, sans-serif;

  --color-*: initial;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #181c31;
  --color-primary: #7083f5;
  --color-secondary: ;
  --color-stroke: #ebeff4;
  --color-dark: #1f233a;
  --color-body: #79808a;
  --color-gray: #f8f9ff;
  --color-stroke-dark: #34374a;

  --breakpoint-*: initial;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-xs: 450px;
  --breakpoint-3xl: 1500px;

  --background-image-gradient-1: linear-gradient(55.15deg, #8ea5fe -7.09%, #beb3fd 51.72%, #90d1ff 101.48%);
  --background-image-gradient-2: linear-gradient(120.12deg, #ff8fe8 0%, #ffc960 100%);
  --background-image-gradient-3: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
  --background-image-texture: url("../images/graphics/texture.svg");

  --shadow-card: 0px 1px 5px rgba(45, 74, 170, 0.14);
  --shadow-card-dark: 0px 1px 5px rgba(16, 25, 55, 0.14);
  --shadow-input: 0px 10px 30px rgba(74, 108, 247, 0.08);

  --drop-shadow-card: 0px 1px 5px rgba(45, 74, 170, 0.14);
  --drop-shadow-card-dark: 0px 1px 5px rgba(16, 25, 55, 0.14);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility sticky-navbar {
  @apply fixed! border-b!  backdrop-blur-xs!;

  & .menu-scroll.active {
    @apply text-primary dark:text-primary;
  }

  & ul > .menu-item > a {
    @apply lg:py-[21px];
  }
}

@utility menu-scroll {
  .sticky-navbar &.active {
    @apply text-primary dark:text-primary;
  }

  &.active {
    @apply text-primary dark:text-primary;
  }
}

@utility active {
  .sticky-navbar &.menu-scroll {
    @apply text-primary dark:text-primary;
  }

  & .menu-scroll {
    @apply text-primary dark:text-primary;
  }

  .submenu-item &a {
    @apply text-primary dark:text-white;
  }
  .submenu-item &a span svg {
    @apply rotate-180 lg:rotate-0;
  }
  &.faq .faq-btn::after {
    content: "-";
  }

  &.faq .faq-content {
    @apply max-h-fit py-[30px]  opacity-100;
  }
}

@utility menu-item {
  .sticky-navbar ul > & > a {
    @apply lg:py-[21px];
  }
}

@utility submenu-item {
  & a.active {
    @apply text-primary dark:text-white;
  }
  & a.active span svg {
    @apply rotate-180 lg:rotate-0;
  }
}

@utility container {
  @apply w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
}

@utility keep-signed {
  &:checked ~ span.box {
    @apply border-primary bg-primary;
  }

  &:checked ~ span.box .icon {
    @apply block;
  }
}

@utility box {
  .keep-signed:checked ~ &span {
    @apply border-primary bg-primary;
  }

  .keep-signed:checked ~ &span .icon {
    @apply block;
  }
}

@utility icon {
  .keep-signed:checked ~ span.box & {
    @apply block;
  }
}

@utility dot {
  #togglePlan:checked ~ span & {
    @apply translate-x-[26px];
  }
}

@utility faq {
  & .faq-btn::after {
    content: "+";
    @apply text-lg font-semibold text-black dark:text-white;
  }
  &.active .faq-btn::after {
    content: "-";
  }

  & .faq-content {
    @apply py-0 transition-all duration-100 ease-in-out opacity-0 max-h-0;
  }

  &.active .faq-content {
    @apply max-h-fit py-[30px]  opacity-100;
  }
}

@utility faq-btn {
  .faq &::after {
    content: "+";
    @apply text-lg font-semibold text-black dark:text-white;
  }
  .faq.active &::after {
    content: "-";
  }
}

@utility faq-content {
  .faq & {
    @apply py-0 transition-all duration-100 ease-in-out opacity-0 max-h-0;
  }

  .faq.active & {
    @apply max-h-fit py-[30px]  opacity-100;
  }
}

@utility swiper-button-prev {
  @apply static bottom-0 top-auto flex items-center justify-center w-10 h-10 border rounded-full border-body text-body after:hidden hover:border-primary hover:bg-primary hover:text-white;
}

@utility swiper-button-next {
  @apply static bottom-0 top-auto flex items-center justify-center w-10 h-10 border rounded-full border-body text-body after:hidden hover:border-primary hover:bg-primary hover:text-white;
}

@layer base {
  body {
    @apply font-inter;
  }
}
